body{
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    color: brown;
    font-style: italic;
}

.instructions{
    display: flex;
    margin: auto;
    justify-content: center;
    color: brown;
    font-style: italic;
}

.grid-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 50px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button{
    padding: 10px;
    margin: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.buttons button:hover{
    background-color: black;
    color: white;
}

.grid-buttons .grid {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid black;
}

input {
    margin: 10px;
    padding: 5px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input:hover{
    background-color: black;
    color: white;
}

label {
    margin: 5px 0;
}

.cell{
    box-sizing: border-box;;
    border: 1px solid black;
}

.buttons .rgb-button{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* Styling for the color palette */
.color-palette {
    display: none;
    position: absolute;
    width: 10px;
    padding: 20px;
    background-color: peachpuff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.color-palette.show {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.color-swatch {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}